*{
    padding: 0px;
    margin: 0px;
}
.navbar-nav{
    margin-left: 70%;
}
  
  .form{
     margin-top:200px;
     margin-bottom:170px;
     margin-right: 30%;
     margin-left: 30%;
     padding-left: 100px;
     padding-bottom: 60px;
     padding-top: 30px;
    border:2px solid lightsteelblue;
    color: steelblue;
    }
   .form h5{
        text-align:start;
        color:dodgerblue;
       
    }
  .t1{
      margin-left: 5%;
      border-right: 50%;
     margin-right:5%;
      margin-top: 5%;
  }